.bold_text {
    font-weight: bold;
}

.caster {
    content:url('/static/img/caster.png');
}
.saber {
    content:url('/static/img/saber.png');
}
.archer {
    content:url('/static/img/archer.png');
}
.lancer {
    content:url('/static/img/lancer.png');
}
.rider {
    content:url('/static/img/rider.png');
}
.berserker {
    content:url('/static/img/berserker.png');
}
.assassin {
    content:url('/static/img/assassin.png');
}
.ruler {
    content:url('/static/img/ruler.png');
}
.avenger {
    content:url('/static/img/avenger.png');
}
.moonCancer {
    content:url('/static/img/moonCancer.png');
}
.alterEgo {
    content:url('/static/img/alterEgo.png');
}
.shielder {
    content:url('/static/img/shielder.png');
}
.beastIIIL {
    content:url('/static/img/beastIIIL.png');
}
.foreigner {
    content:url('/static/img/foreigner.png');
}

.textFormat {
    text-transform: capitalize;
}
.fGo {
    color:blue;
}

.quick {
    content:url('/static/img/quickbg.png');
}
.buster {
    content:url('/static/img/busterbg.png');
}
.arts {
    content:url('/static/img/artsbg.png');
}

.star1 {
    content:url('/static/img/1star.png');
}
.star2 {
    content:url('/static/img/2stars.png');
}
.star4 {
    content:url('/static/img/4stars.png');
}
.star3 {
    content:url('/static/img/3stars.png');
}
.star5 {
    content:url('/static/img/5stars.png');
}