<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>FateGO Guide</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fatego.css' %}">
    <script  src="{% static 'js/main.js' %}"></script>
  </head>
  <body>



{% block content %} 
    <div class = "container text-center">
      <br>
      <h2 class = "text-center">Search Servant</h2> 
      <br>
      <form method='GET' action=".">
        <input type="text" name="servant" value="" placeholder="Search posts"/>
    </form>
    </div>  
{% endblock %}
<div class="row">
    {% for servant in all_meals %}
    <div class="col-sm-2">
      <div class="card justify-content-center" style="width: 275px;">
        <div class="card-header  text-center">
          <a href="{{ servant.collectionNo}} ">
          <p class="card-title bold_text">{{ servant.name }}</p>
          </a>
        </div>
          <img class="card-img-top" src="{{ servant.face }}" alt="Card image cap">
          <div class="card-body text-center">
            <p class="card-text" style="text-transform: capitalize;">{{ servant.attribute }}</p>
            <p class="card-text"> Atk : {{ servant.atkMax }}</p>
            <p class="card-text">Hp : {{ servant.hpMax }}</p>
            <p class="card-text"><img class="star{{servant.rarity}}"></p>
          </div>
        <div class="card-footer text-center">
          <img class="{{ servant.className }}" >
        </div>
      </div>
      <br><br><br>
    </div>
    {% endfor %}
  
</div>
<footer>
  {% include "static/webs/footer.html" %}
  </footer>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    
  </body>
</html>