<div class = "row">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="#"> <img src="static/img/iconobar56.png">  FateGO Guide</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
          <li class="nav-item active">
          <a class="nav-link" href="main">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="ce">Craft Essence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" >TierList</a>
          </li>
        </ul>
        <form class="d-flex" method='GET' action=".">
          <input class="form-control mr-2" type="text" name="servant" value="" placeholder="Search posts" aria-label="Search">
        <button class="btn btn-outline-success bg-dark " type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>  